@import "../../../styles/colors";
@import "../../../styles/common";

.informations-container {
    @extend %center-flex;
    gap: $spacing-m;

    &-info {
        font-weight: $weight-s;
        font-size: $font-s;
        line-height: 1.7rem;
        height: 1.7rem;
        text-align: center;
    }

    &-detail {
        word-break: keep-all;
    }

    &-separator {
        height: 25px;
        width: 1px;
        background-color: $primary;

        &:last-of-type {
            display: none;
        }
    }
}
