@import "../../styles/colors";
@import "../../styles/common";

.periods-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $spacing-m;
    margin: $spacing-x 0;

    &-image {
        height: 36px;
    }
}
