@import "../../styles/colors";
@import "../../styles/common";

$icon-space: 2px;

.climate-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    gap: $spacing;
    height: 100vh;

    &-title {
        text-transform: uppercase;
    }

    &-subtitle {
        font-weight: $weight-s;
    }

    &-temp {
        display: flex;
        gap: $spacing;

        &-degree {
            font-size: $font-degree;
            line-height: 11rem;
        }

        &-unit {
            margin-bottom: $spacing-s;
            font-size: $font-m;
            display: flex;
            align-items: flex-start;

            &::before {
                content: "°";
                font-size: $font-m;
                margin-right: $icon-space;
            }
        }

        &-range {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: $icon-space;

            &-max {
                display: flex;
                align-items: center;
                font-size: $font-s;

                &::before {
                    content: "\2191";
                    margin-right: $icon-space;
                    font-size: $font-s;
                    color: $arrow-icon;
                }
            }

            &-min {
                display: flex;
                align-items: center;
                font-size: $font-s;

                &::before {
                    content: "\2193";
                    margin-right: $icon-space;
                    font-size: $font-s;
                    color: $arrow-icon;
                }
            }
        }
    }

    &-image {
        margin: $spacing-x 0;
    }

    &-periods {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: $spacing-m;
        font-size: $font-s;
        line-height: 1.7rem;
    }

    &-infos {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }
}
