$spacing-s: 1rem;
$spacing: 1.5rem;
$spacing-m: 2rem;
$spacing-x: 2.5rem;
$spacing-xx: 3rem;
$font-s: 1.4rem;
$font: 1.6rem;
$font-common: 2rem;
$font-m: 2.2rem;
$font-title: 3rem;
$font-x: 3rem;
$font-degree: 9.3rem;
$weight: 400;
$weight-s: 300;
$weight-bold: 700;

$desktop: 1024px;
$mobile: 540px;

.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.center-margin {
    max-width: $mobile;
    margin: 0 auto;
}
