@import "../../styles/colors";
@import "../../styles/common";

.home-container {
    @extend %center-flex;
    width: 100%;
    max-width: $desktop;
    margin: 0 auto;
    gap: $spacing;
    height: 100vh;

    &-image {
        margin: $spacing-x 0;
    }

    &-title {
        text-transform: uppercase;
    }

    &-subtitle {
        font-size: $font-m;
    }

    &-image,
    &-title,
    &-subtitle {
        @extend %center-margin;
    }
}
