@import "../../styles/colors";
@import "../../styles/common";

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    gap: $spacing;
    height: 100vh;

    &-image {
        margin: $spacing-x 0;
    }
}
