@import "../../../styles/colors";
@import "../../../styles/common";

.periods-container {
    @extend .center-flex;
    gap: $spacing-m;
    margin: $spacing-x 0;

    &-image {
        height: 36px;
    }
}
