@import "../../styles/colors";
@import "../../styles/common";

.cities-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: $spacing-m $spacing-x;

    a {
        text-decoration: none;
        color: $primary;
    }
}
